.box{
    width:100%;
}
@media screen and (min-width:640px){
    body{
        font-size:24px;
    }
    .box{
        max-width:100%;s
    }
}
.fbox{
    flex-wrap: wrap;
    justify-content: center;

}
.fbox .kurubox{
/*    margin-left:2%;*/

}
.kurubox{
    margin:0 auto;
    width:18%;
    max-width:200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.kurubox:nth-child(n+5) {
  order: 1;
}
.kurubox img{
    position:relative;
    top:20%;
}

.omote ,.ura{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:     hidden;
}
.omote img{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:     hidden;

}
.omote{
/*    background-color:#f00;*/
    border:1px #666 solid;

}
.ura{

    border:1px #666 solid;

    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.kurukuru{
    animation: kuru .5s forwards;
}
@keyframes kuru {
    100% {transform: rotateY(180deg)}

}

.pikapika{

    -webkit-animation: r0 1s ease-out infinite;
    -moz-animation: r0 1s ease-out infinite;
    animation: r0 1s ease-out infinite;
}
.pikapika2{

    -webkit-animation: r20 2s ease-out infinite;
    -moz-animation: r20 2s ease-out infinite;
    animation: r20 2s ease-out infinite;
}

@-webkit-keyframes r0 {
  0% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(218, 179, 0, 0);
  }
  30% {
    box-shadow: 0 0 8px 6px #dab300, 0 0 8px 6px #fff, 0 0 8px 6px #dab300;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 12px #fff, 0 0 0px 14px rgba(218, 179, 0, 0);
  }
}
@-moz-keyframes r0 {
  0% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(218, 179, 0, 0);
  }
  30% {
    box-shadow: 0 0 8px 6px #dab300, 0 0 8px 6px #fff, 0 0 8px 6px #dab300;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 12px #fff, 0 0 0px 14px rgba(218, 179, 0, 0);
  }
}

@keyframes r0 {
  0% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 0px #fff, 0 0 0px 0px rgba(218, 179, 0, 0);
  }
  30% {
    box-shadow: 0 0 8px 6px #dab300, 0 0 8px 6px #fff, 0 0 8px 6px #dab300;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(218, 179, 0, 0), 0 0 0px 12px #fff, 0 0 0px 14px rgba(218, 179, 0, 0);
  }
}
@-webkit-keyframes r20 {
  from {
    box-shadow: 0 0 4px 3px #0099cc, 0 0 6px 5px #fff, 0 0 6px 7px #0099cc;
  }
  to {
    box-shadow: 0 0 4px 3px rgba(0,153,204, 0), 0 0 2px 10px #fff, 0 0 2px 10px rgba(0,153,204, 0);
  }
}
@-moz-keyframes r20 {
  from {
    box-shadow: 0 0 4px 3px #0099cc, 0 0 6px 5px #fff, 0 0 6px 7px #0099cc;
  }
  to {
    box-shadow: 0 0 4px 3px rgba(0,153,204, 0), 0 0 2px 10px #fff, 0 0 2px 10px rgba(0,153,204, 0);
  }
}
@keyframes r20 {
  from {
    box-shadow: 0 0 4px 3px #0099cc, 0 0 6px 5px #fff, 0 0 6px 7px #0099cc;
  }
  to {
    box-shadow: 0 0 4px 3px rgba(0,153,204, 0), 0 0 2px 10px #fff, 0 0 2px 10px rgba(0,153,204, 0);
  }
}
